DeterminantCalculatorUser/xml-resources/web-service-references/DeterminantCalculatorService_5/wsdl/169.254.8.130_8080/DeterminantCalculatorService/DeterminantCalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://determinant_calculator_service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://determinant_calculator_service/" name="DeterminantCalculatorService" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<wsp:Policy wsu:Id="DeterminantCalculatorServicePortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://determinant_calculator_service/" schemaLocation="http://169.254.8.130:8080/DeterminantCalculatorService/DeterminantCalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="getResult">
<part name="parameters" element="tns:getResult"/>
</message>
<message name="getResultResponse">
<part name="parameters" element="tns:getResultResponse"/>
</message>
<message name="addWorker">
<part name="parameters" element="tns:addWorker"/>
</message>
<message name="addWorkerResponse">
<part name="parameters" element="tns:addWorkerResponse"/>
</message>
<message name="removeWorker">
<part name="parameters" element="tns:removeWorker"/>
</message>
<message name="removeWorkerResponse">
<part name="parameters" element="tns:removeWorkerResponse"/>
</message>
<message name="getPercentageDone">
<part name="parameters" element="tns:getPercentageDone"/>
</message>
<message name="getPercentageDoneResponse">
<part name="parameters" element="tns:getPercentageDoneResponse"/>
</message>
<message name="computeDeterminant">
<part name="parameters" element="tns:computeDeterminant"/>
</message>
<message name="computeDeterminantResponse">
<part name="parameters" element="tns:computeDeterminantResponse"/>
</message>
<portType name="DeterminantCalculatorService">
<operation name="getResult">
<input wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/getResultRequest" message="tns:getResult"/>
<output wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/getResultResponse" message="tns:getResultResponse"/>
    <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
    </jaxws:bindings>
</operation>
<operation name="addWorker">
<input wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/addWorkerRequest" message="tns:addWorker"/>
<output wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/addWorkerResponse" message="tns:addWorkerResponse"/>
</operation>
<operation name="removeWorker">
<input wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/removeWorkerRequest" message="tns:removeWorker"/>
<output wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/removeWorkerResponse" message="tns:removeWorkerResponse"/>
</operation>
<operation name="getPercentageDone">
<input wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/getPercentageDoneRequest" message="tns:getPercentageDone"/>
<output wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/getPercentageDoneResponse" message="tns:getPercentageDoneResponse"/>
</operation>
<operation name="computeDeterminant">
<input wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/computeDeterminantRequest" message="tns:computeDeterminant"/>
<output wsam:Action="http://determinant_calculator_service/DeterminantCalculatorService/computeDeterminantResponse" message="tns:computeDeterminantResponse"/>
</operation>
</portType>
<binding name="DeterminantCalculatorServicePortBinding" type="tns:DeterminantCalculatorService">
<wsp:PolicyReference URI="#DeterminantCalculatorServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPercentageDone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="computeDeterminant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DeterminantCalculatorService">
<port name="DeterminantCalculatorServicePort" binding="tns:DeterminantCalculatorServicePortBinding">
<soap:address location="http://169.254.8.130:8080/DeterminantCalculatorService/DeterminantCalculatorService"/>
</port>
</service>
</definitions>