DeterminantCalculatorService/web/WEB-INF/wsit-determinant_calculator_service.DeterminantCalculatorService.xml

<?xml version="1.0" encoding="UTF-8"?>
 <definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DeterminantCalculatorService" targetNamespace="http://determinant_calculator_service/" xmlns:tns="http://determinant_calculator_service/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
 >
    <message name="computeDeterminant"/>
    <message name="computeDeterminantResponse"/>
    <message name="getPercentageDone"/>
    <message name="getPercentageDoneResponse"/>
    <message name="getResult"/>
    <message name="getResultResponse"/>
    <message name="addWorker"/>
    <message name="addWorkerResponse"/>
    <message name="removeWorker"/>
    <message name="removeWorkerResponse"/>
    <portType name="DeterminantCalculatorService">
        <operation name="computeDeterminant">
            <input message="tns:computeDeterminant"/>
            <output message="tns:computeDeterminantResponse"/>
        </operation>
        <operation name="getPercentageDone">
            <input message="tns:getPercentageDone"/>
            <output message="tns:getPercentageDoneResponse"/>
        </operation>
        <operation name="getResult">
            <input message="tns:getResult"/>
            <output message="tns:getResultResponse"/>
        </operation>
        <operation name="addWorker">
            <input message="tns:addWorker"/>
            <output message="tns:addWorkerResponse"/>
        </operation>
        <operation name="removeWorker">
            <input message="tns:removeWorker"/>
            <output message="tns:removeWorkerResponse"/>
        </operation>
    </portType>
    <binding name="DeterminantCalculatorServicePortBinding" type="tns:DeterminantCalculatorService">
        <wsp:PolicyReference URI="#DeterminantCalculatorServicePortBindingPolicy"/>
        <operation name="computeDeterminant">
            <input/>
            <output/>
        </operation>
        <operation name="getPercentageDone">
            <input/>
            <output/>
        </operation>
        <operation name="getResult">
            <input/>
            <output/>
        </operation>
        <operation name="addWorker">
            <input/>
            <output/>
        </operation>
        <operation name="removeWorker">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="DeterminantCalculatorService">
        <port name="DeterminantCalculatorServicePort" binding="tns:DeterminantCalculatorServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="DeterminantCalculatorServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DeterminantCalculatorServicePortBinding_removeWorkerNode_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DeterminantCalculatorServicePortBinding_removeWorkerNode_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
