DeterminantCalculatorWorker/xml-resources/web-service-references/DeterminantCalculatorService_2/wsdl/25.124.124.114_8080/DeterminantCalculatorService/DeterminantCalculatorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://determinant_calculator_service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://determinant_calculator_service/">

<xs:element name="addWorkerNode" type="tns:addWorkerNode"/>

<xs:element name="addWorkerNodeResponse" type="tns:addWorkerNodeResponse"/>

<xs:element name="computeDeterminant" type="tns:computeDeterminant"/>

<xs:element name="computeDeterminantResponse" type="tns:computeDeterminantResponse"/>

<xs:element name="getPercentageDone" type="tns:getPercentageDone"/>

<xs:element name="getPercentageDoneResponse" type="tns:getPercentageDoneResponse"/>

<xs:element name="getResult" type="tns:getResult"/>

<xs:element name="getResultResponse" type="tns:getResultResponse"/>

<xs:element name="removeWorkerNode" type="tns:removeWorkerNode"/>

<xs:element name="removeWorkerNodeResponse" type="tns:removeWorkerNodeResponse"/>

<xs:complexType name="removeWorkerNode">
<xs:sequence>
<xs:element name="remoteAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeWorkerNodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResult">
<xs:sequence>
<xs:element name="reqId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResultResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPercentageDone">
<xs:sequence>
<xs:element name="reqId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPercentageDoneResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="computeDeterminant">
<xs:sequence>
<xs:element name="order" type="xs:int"/>
<xs:element name="fileValues" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="computeDeterminantResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addWorkerNode">
<xs:sequence>
<xs:element name="remoteAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addWorkerNodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>